// colors
$font-color: white;
$font-color-secondary: black;
$green: #a7ff7b;
$pink: #ff6ae6;
$yellow: #fffd62;
$lightblue: #5ae3ff;
$error: #ff6347;

// fonts
$font-stack: Poppins, sans-serif;
$font-display-stack: Lalezar, sans-serif;

$focus-outline: 0 0 0 3px $pink;
$border-radius: 5px;