@import './_variables';

.messages {
  height: 65%;
  width: 90%;
  margin: 1rem auto;

  > h3 {
    text-align: center;
    font-family: $font-display-stack;
    font-size: 1.5rem;
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
